$bg: rgb(39, 42, 51, 0.85);
$contrastbg: rgb(56, 60, 74, 0.85);
$active: rgb(98, 160, 234, 0.85);
$hover: rgb(153, 193, 241, 0.85);
$bgsecondary: rgb(38, 41, 52, 0.85);
$fg: rgb(211, 218, 227, 0.85);
