* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 14px;
}

@import "theme.css";

window#waybar {
  background: @bar-bg;
  border-radius: 10px;
}

#custom-wf-recorder {
  /* padding: 0 20px; */
  color: #eb6f92;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px 11px 0px 7px;
  border-radius: 12px;
  margin: 0px 2px;
  color: @main-fg;
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  border: none;
  padding: 0px 12px 0px 8px;
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  padding: 0px 12px 0px 8px;
  border: none;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @wb-color;
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  margin-left: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 3px;
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-dashboard,
#disk,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#temperature,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-wf_recorder,
#window,
#workspaces,
#image,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
  opacity: 1;
  margin: 4px 0px;
  padding: 1px 4px 2px 4px;
}

#language {
  font-size: 17px;
  font-weight: 500;
  padding: 0px;
  margin-bottom: 7px;
}

#custom-power {
  font-size: 14px;
  padding: 1px 0px 2px 6px;
}

#custom-notification {
  padding: 0px 8px 2px 4px;
}

#workspaces,
#taskbar {
  padding: 0px;
}

#custom-r_end {
  border-radius: 0px 21px 21px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 9px;
  padding-left: 3px;
}
