* {
  background-image: none;
  font-size: 20px;
}

@import "$HOME/.config/waybar/theme.css";

window {
  background-color: rgba(255, 255, 255, 0);
}

button {
  color: #ffffff;
  background-color: @main-bg;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: @wb-act-bg;
  background-size: 20%;
}

button:hover {
  background-color: @wb-hvr-bg;
  background-size: 25%;
  border-radius: 50px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
  border-radius: 50px 50px 0px 50px;
  margin: 200px 0px 0px 512px;
}

button:hover#logout {
  border-radius: 50px 0px 50px 50px;
  margin: 0px 0px 200px 512px;
}

button:hover#shutdown {
  border-radius: 50px 50px 50px 0px;
  margin: 200px 512px 0px 0px;
}

button:hover#reboot {
  border-radius: 0px 50px 50px 50px;
  margin: 0px 512px 200px 0px;
}

#lock {
  background-image: image(url("$HOME/.config/wlogout/icons/lock.png"));
  border-radius: 80px 0px 0px 0px;
  margin: 250px 0px 0px 560px;
}

#logout {
  background-image: image(url("$HOME/.config/wlogout/icons/logout.png"));
  border-radius: 0px 0px 0px 80px;
  margin: 0px 0px 250px 560px;
}

#shutdown {
  background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"));
  border-radius: 0px 80px 0px 0px;
  margin: 250px 560px 0px 0px;
}

#reboot {
  background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"));
  border-radius: 0px 0px 80px 0px;
  margin: 0px 560px 250px 0px;
}
